body{
    background-color: beige;
    font-family: "Karla", sans-serif, Arial;
}

h1{
color: green
}
p{
    color: #5ba759;
}

li{ 
    color: rgb(80, 153, 20)
}
h2{
    color:#13643c;
    font-style: normal;
    font-weight: 300;
}

h3{
    color: #119955;
    font-style: normal;
    font-weight:300
}

div{
    color: rgba(6, 124, 75, 0.644)
}

footer{
    background-color: rgb(189, 218, 189);
}